.navbar {
  width: 95%;
  height: 80px;
  position: sticky;
  top: 0;
  margin: auto;
  border-radius: 0 0 30px 30px;
  background-color: $color3;
  color: $color5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Quantity';
  user-select: none;

  &-left,
  &-right {
    flex: 1;
  }

  &-center {
    flex: 2;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .nav-item {
        color: $color5;
        transition: 0.2s;

        &:hover {
          color: $color2;
        }
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;

    &-profile {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &-icons {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 1.4rem;
    }
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    .site-name {
      color: black;
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    height: 160px;
    flex-direction: column-reverse;

    &-left {
      width: 100%;

      &-profile {
        width: 20%;
      }
      &-icons {
        width: 50%;
      }
    }

    &-center {
      width: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    height: 110px;
    &-left {
      padding: 0.2rem 0;

      &-icons {
        font-size: 1rem;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }

    &-center {
      padding: 0.5rem 0;
      font-size: 120%;
    }

    &-right {
      font-size: 180%;
    }
  }
}
@media screen and (max-width: 300px) {
  .navbar {
    &-center {
      font-size: 100%;
    }
  }
}
