.single-post {
  flex: 9;

  &-wrapper {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
      border-radius: 5px;
    }

    &-title {
      font-size: 2.4rem;
      margin: 10px;
      text-align: center;
      font-family: 'Yeon Sung', cursive;

      &-icons {
        float: right;

        i {
          margin-left: 1rem;
          cursor: pointer;

          &:first-child {
            color: teal;
          }

          &:last-child {
            color: tomato;
          }
        }
      }
    }
    &-title-input {
      font-size: 2.4rem;
      margin: 10px;
      text-align: center;
      font-family: 'Yeon Sung', cursive;
      background-color: transparent;

      &:focus {
        border-bottom: 1px solid $color3;
      }
    }

    &-info {
      margin-bottom: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Yeon Sung', cursive;
      font-size: 1.2rem;
      color: $color6;
      span {
        .author {
          color: $color6;
        }
      }
    }

    &-text {
      font-size: 1.4rem;
      line-height: 25px;

      &::first-letter {
        margin-left: 20px;
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
    &-text-input {
      font-size: 1.4rem;
      line-height: 25px;
      background-color: transparent;

      &:focus {
        border-bottom: 1px solid $color3;
      }
    }

    .update-button {
      width: 100px;
      border: none;
      background-color: teal;
      padding: 5px;
      color: $color1;
      border-radius: 5px;
      cursor: pointer;
      border-radius: 5px;
      align-self: flex-end;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .single-post {
    img {
      height: 55vh;
    }
    &-wrapper {
      padding: 1rem 2rem;

      &-title {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .single-post {
    &-wrapper {
      padding: 1rem;

      &-title {
        display: flex;
        flex-direction: column;

        &-icons {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .single-post {
    &-wrapper {
      img {
        height: 50vh;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .single-post {
    &-wrapper {
      img {
        height: 40vh;
      }

      &-title {
        font-size: 1.6rem;
      }

      &-info {
        font-size: 1rem;
      }

      &-text {
        font-size: 1.2rem;
      }
    }
  }
}
